body {
    background-image: radial-gradient(circle, #18ff2b89 35%, rgb(255, 255, 255));
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    height: 600px;
    margin: 40px auto; /* centraliza na tela */
    border-radius: 60px;
    background-color: #18ff2b81;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: #000384;
    margin-top: 40px;
}

.container h2 {
    color: #2400ff;
    margin: 30px 0;
}

.container p {
    color: #004189;
    line-height: 1.5;
    margin-bottom: 60px;
}

/* === Botões lado a lado === */
.clique {
    display: flex;
    justify-content: center;
    gap: 60px; /* espaço entre IMC e TMB */
}

/* === Estilo dos botões === */
.IMC, .TMB {
    width: 150px;
    height: 75px;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.IMC {
    background-color: #ff9052;
}

.TMB {
    background-color: #F95F62;  
}

.IMC:hover, .TMB:hover {
    transform: scale(1.1);
}
