body{
    font-family:Arial,Helvetica,sans-serif;background:#c35753;margin:0;padding:20px; color:black;
}

.container{
    max-width:720px;margin:0 auto;background:#151f4ff0;padding:20px;border-radius:8px;box-shadow:2px 6px 20px rgb(255, 0, 0);color: black;
}

input,select,button{
    width:100%;padding:10px;margin:8px 0;box-sizing:border-box;color:black;
}

button{
    background:#0077ff;color:#e6b5b5;border:none;border-radius:6px;cursor:pointer;
}

button:hover{
    opacity:.95;
}

.msg{
    color:rgb(0, 0, 0);
}
